a,
#home-slider .caption h1 span, 
#footer .footer-bottom, 
#single-portfolio .close-folio-item:hover, 
.single-table.featured .btn.btn-primary, 
.contact-info ul li a:hover, 
#footer .footer-bottom a  {
  color: white;
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: black;
}

a:hover, a:focus {
	color: black;
}

.service-icon, 
.progress-bar.progress-bar-primary, 
.single-table.featured, 
.btn.btn-primary,
.post-icon, 
.entry-header .date:after, 
.btn-loadmore:hover, 
.btn-submit,
#footer, 
.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover, 
.folio-overview a:hover {
  background-color: black;
}

.main-nav {
	background-color: black;
}

.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover {
	border-color: black;
}